body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: #051655;
    font-family: 微软雅黑, MicrosoftYahei, sans-serif;
    color: #fff;
}

#circular_arr {
    margin-top: 10px;
    margin-left: 5px;
}

#but_div,
#but_div_1 {
    margin-top: 30px;
}

#but_div_1 {
    margin-left: 30px;
}

#but_div_2 {
    margin-left: 100px;
}

#choiceWindow {
    position: fixed;
    top: 200px;
}

.mainSankey {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 92%;
    height: 450px;
}

.mainStack {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 92%;
    height: 220px;
}

.mainTop {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 450px;
}

.mainBottom {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 220px;
}

.psnMap {
    margin-top: 60px;
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 350px;
}

.psnBubble {
    margin-top: 60px;
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 350px;
}

.psnSchedule {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 350px;
}

.psnFeature {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 350px;
}

.psnCloud {
    overflow: hidden;
    background: url(../img/amiddboxttop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 350px;
}

.containers {
    margin: 0 30px;
}

.h5c {
    margin-top: 7px;
}

h5 {
    text-align: center;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
table,
blockquote,
input,
button,
select,
em,
textarea {
    margin: 0;
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
}

html,
#backGround,
body {
    font-family: 微软雅黑, MicrosoftYahei, sans-serif;
    color: #fff;
    background: #00065b url(../img/bg.jpg);
    background-size: 100% 100%;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
