.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .9;

    padding: 10px 20px;

    background: #333;
    color: #ff8b51;

    position: absolute;
    top:-140%;
    left: -25%;


    border-radius: 9px;
    font: 20px;

    transform: translateY(9px);
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}